<app-menu></app-menu>
<h2> Welcome to the Purchase Request System </h2>
<div class="home">
  <b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae omnis aliquam nisi sapiente debitis id consectetur labore pariatur, natus velit eveniet doloremque, voluptatem quae recusandae tenetur distinctio molestiae enim incidunt.<br>
  <br>
  
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam obcaecati sint, optio beatae non enim adipisci illo sequi modi dicta incidunt earum quod ut eveniet sed, quam reprehenderit placeat quo?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quaerat accusantium, tenetur quis deserunt incidunt nostrum, error eligendi, illum alias eum recusandae. Velit iste veritatis porro dolor sed dicta optio.</b>
</div>
<div>
  <b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, quidem delectus, expedita dolorem nobis est ipsam facilis necessitatibus accusantium officia, voluptate enim ab! Pariatur dolorem deserunt quis quibusdam iusto labore!
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi voluptate provident earum, autem unde ipsum aperiam dolorum! Ea necessitatibus, in optio quod vero quibusdam laudantium nobis, placeat reprehenderit at a!
  <br>
  <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque delectus aut nesciunt id ullam, tempore velit iure nostrum sed maiores odio vero, ut labore consequuntur dolore eum, quia numquam sit.</b>
</div>
