.home {
  width: 90%;
  border: 2px solid rgb(18,75,131);
  border-radius: 10px;
  padding-top: 10px;
  margin-top: 20px;
  margin-left: 60px;
  background-color: rgb(207,236,201);
}

div {
  width: 90%;
  border: 2px solid rgb(18,75,131);
  border-radius: 10px;
  padding-top: 10px;
  margin-top: 20px;
  margin-left: 60px;
  background-color: rgb(207,236,201);
}

h2 {
  font-variant: small-caps;
  color: rgb(18,75,131);
}
