<app-menu></app-menu>
<div class='component-content'>
  <div class=''>
    <div class='lefthalf'>
      <span class='component-title'>[{{title}}]</span>
      <span><a routerLink='/product/create'><img id='createnew' width='20' height='20' src='assets/add-icon.png' title='Add New'></a></span>
    </div>
  </div>
  <table class="table table-striped" *ngIf='product'>
    <tr>
      <th>Id</th>
      <td>{{ product.Id}}</td>
    </tr>
    <tr>
      <th>Vendor</th>
      <td>{{ product.Vendor.Name }}</td>
    </tr>
    <tr>
      <th>Part Number</th>
      <td>{{ product.PartNumber }}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{ product.Name }}</td>
    </tr>
    <tr>
      <th>Price</th>
      <td>{{ product.Price }}</td>
    </tr>
    <tr>
      <th>Unit</th>
      <td>{{ product.Unit }}</td>
    </tr>
    <tr>
      <th>Photo Path</th>
      <td>{{ product.PhotoPath }}</td>
    </tr>
    <tr>
      <td colspan="2">
        <a routerLink='/product/edit/{{product.Id}}' class='btn btn-primary' title='Edit'>Edit</a>
        <button (click)="remove()" class='btn btn-danger' title='Delete'>Remove</button>
      </td>
    </tr>
  </table>
</div>
