<app-menu></app-menu>
<div>
</div>
<div class='component-content'>
  <div>
    <span class='component-title'>{{title}}</span>
    <!-- | <span><a routerLink='/product/create'>New Product</a></span> -->
    <span><a routerLink='/purchaserequest/list'>Back to list</a></span>
  </div>
  <p *ngIf='!request'>Loading ...</p>
  <div *ngIf='request'>
    <div class='form-group row'>
      <label class='col-form-label col-sm-2' for="purchaserequestuser">User:</label>
      <input [(ngModel)]='request.User.UserName' name='Name' type="text" class="form-control col-sm-6" id="purchaserequestuser" aria-describedby="usrHelp" placeholder="UserName" disabled>
      <small id="usrHelp" class="form-text text-muted col-sm-2">UserName</small>
    </div>
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="description">Description:</label>
      <input [(ngModel)]='request.Description' name='Description' type="text" class="form-control col-sm-6" id="description" aria-describedby="descHelp" placeholder="Description">
      <small id="descHelp" class="form-text text-muted col-sm-2">Description</small>
    </div>
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="justification">Justification:</label>
      <input [(ngModel)]='request.Justification' name='Justification' type="text" class="form-control col-sm-6" id="justification" aria-describedby="justHelp" placeholder="Justification">
      <small id="justHelp" class="form-text text-muted col-sm-2">Justification</small>
    </div>
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="dateneeded">Date Needed:</label>
      <input [(ngModel)]='request.DateNeeded' name='DateNeeded' type="text" class="form-control col-sm-6" id="dateneeded" aria-describedby="dateNeedHelp" placeholder="Date Needed">
      <small id="dateNeedHelp" class="form-text text-muted col-sm-2">Date Needed</small>
    </div>
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="deliverymode">Delivery Mode:</label>
      <input [(ngModel)]='request.DeliveryMode' name='DeliveryMode' type="text" class="form-control col-sm-6" id="deliverymode" aria-describedby="dmodeHelp" placeholder="Delivery Mode">
      <small id="dmodeHelp" class="form-text text-muted col-sm-2">Delivery Mode</small>
    </div>
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="total">Total:</label>
      <input [(ngModel)]='request.Total' name='Total' type="text" class="form-control col-sm-6" id="total" aria-describedby="totalHelp" placeholder="Total" readonly>
      <small id="totalHelp" class="form-text text-muted col-sm-2">Total</small>
    </div>
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="subdate">Date Submitted:</label>
      <input [(ngModel)]='request.SubmittedDate' name='SubmittedDate' type="text" class="form-control col-sm-6" id="subdate" aria-describedby="subDateHelp" placeholder="Date Submitted" readonly>
      <small id="subDateHelp" class="form-text text-muted col-sm-2">Date Submitted</small>
    </div>
    <div class='form-group'>
      <button (click)='create()' class='btn btn-primary'>Create</button>
    </div>
  </div>
</div>
