
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: inherit;
  z-index: 1;
  background-color: rgb(207,236,201);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid rgb(18,75,131);
}
.form button {
  font-family: sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: rgb(18,75,131);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: skyblue;
}

.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

body {
  background-image: url(https://cdn.pixabay.com/photo/2017/03/25/17/56/color-2174049_960_720.png);
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.badge {
  font-size: 50px;
  background-color: rgb(18,75,131);
  border: 1px solid white;
  display: block;
  margin-left: 600px;
  margin-right: 600px;
  margin-top: 50px;
  font-style: italic;
}

.head {
  display: block;
  margin-left: 500px;
  margin-right: 400px;
  font-size: 30px;
  font-style: italic;
  font-variant: small-caps;
  color: rgb(18,75,131);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
