<app-menu></app-menu>
<h3>Front-End Technologies:</h3>
<div>
  <img src="assets/HTML5.png" width="200" height="150" title="HTML5">
  <img src="assets/css3_logo.png" width="150" height="150" title="CSS3">
  <img src="assets/js-logo-badge.png" width="200" height="180" title="JavaScript"><br>
  <img src="assets/ts-logo.png" width="200" height="150" title="TypeScript">
  <img class="node" src="assets/Node_js_logo.png" width="200" height="150" title="NodeJS">
  <img class="ang" src="assets/AngularJS.png" width="330" height="200" title="Angular">
</div><br>
<h3>Back-End Technologies:</h3>
<div>
  <img src="assets/git_logo.png" width="200" height="200" title="GitBash">
  <img src="assets/java-square.png" width="200" height="200" title="Java">
  <img src="assets/maven.png" width="230" height="200" title="Maven"><br>
  <img src="assets/MySQL.png" width="200" height="170" title="MySQL">
</div>

